{% extends 'base.html' %}

{% block maintitle %}
    Equidé #{{equide.id}}
{% endblock %}

{% block content %}
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form action="{{url_for('equides.delete',id=equide.id)}}" method="POST">
    {{form.id}}
    <p>
        Souhaitez-vous vraiment supprimer l'équidé' {{equide.id}} ?
    </p>


    <div class="field is-grouped">
        <div class="control">
            <input class="button is-danger" style="background: rgb(35, 151, 177);color:white;" type="submit" value="Supprimer" />
        </div>
        <div class="control">
            <a class="button is-link is-light" style="background: rgb(35, 151, 177);color:white;" href="{{url_for('equides.read_all')}}">Annuler</a>
        </div>
    </div>
</form>
{% endblock %}