{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur le site de la ville de Jeju-si</h1>
</div>

<div class="image1">
<img src="https://www.climatsetvoyages.com/Images/cartes/Jeju-o%C3%B9.jpg"
    width="450"
    height="550">
</div>

<div class="image2">
<img src="https://external-preview.redd.it/_QH4ze4l-GpzccwsxTzHDyNsiKDJj3EP5IiMU077GXw.jpg?auto=webp&s=2c8b04c5d9163b7e1ba2636b9002ddca6de0b12e"
    width="450"
    height="550">
</div>

{% endblock %}