{% extends 'base.html.twig' %}

{% block body %}
<h1 class="test">{{ titre }}</h1>
</br>

<div><p class="testt">Jeju, ville située sur l'île de Jeju-do, est la capitale de la province sud-coréenne de Jeju. 
Dans la ville, le musée d'Histoire naturelle et du Folklore de Jeju, installé dans le parc Sinsan, présente des animaux marins. 
L'école confucéenne de Jejuhyanggyo abrite des tablettes ancestrales et propose des cours de calligraphie. 
Sur la côte, Yongduam Haesu Spa Land est doté de saunas d'eau de mer. 
Non loin de là, près du rocher de Yongduam en forme de dragon, des plongeurs pêchent des poissons et fruits de mer selon des méthodes traditionnelles.</div></p>
</br>

<div><p class="testt">L'emplacement du centre-ville était d'une grande importance pour l'île dès le début de son histoire, comme le montre la légende du Samseonghyeol, les trous dont sont sortis les ancêtres des habitants de Jeju et que l'on peut encore visiter. 
Jeju fit d'abord partie du royaume de Tamna, qui devint ensuite un État vassal des royaumes coréens de Paekche puis de Silla avant d'être annexé par Joseon.
À partir des années 1970, la ville a grandi rapidement. La ville nouvelle de Shin Jeju a été créée il y a quelques décennies[évasif] sur les collines au-dessus de l'aéroport et abrite les bâtiments gouvernementaux et de nombreux hôtels. 
Jusque dans les années 1970, la plupart des maisons avaient des toits en paille, ceux-ci ont maintenant pratiquement disparu.
Au niveau administratif, la cité de Jeju a été séparée du district de Jeju du Nord en 1955 avant que ces deux unités soient réunifiées sous le nom de ville de Jeju en juillet 2006.</div></p>
</br>

<div><p class="testt">Le tourisme joue un grand rôle dans l'économie de Jeju qui est aussi célèbre pour ses oranges : la ville est entourée de fermes produisant des oranges et des mandarines. 
La ville abrite l'université nationale de Jeju ainsi que trois collèges.</div></p>

{% endblock %}